# Capstone Group 6: 120 years of olympic historic dataÂ¶

<br>
<br>

**Datasets from Kaggle:** https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

**Description:** the dataset consist of 120 year olympic historic data

<br>

**Research questions:**


1. In which year did the Netherlands win the most total medals and the most golden medals <br>
2. Who is the most successfull olympic Dutch female athlete and male athlete (successfull = most total medals)<br>
3. Did the Netherlands win more during the summer or winter olympics? <br>
4. <br>
5. <br>

### Loader: importing libraries

In [ ]:
#Any other library we like to use?
import pandas as pd
import numpy as np
#import glob 
import matplotlib as plt

### Loader: importing datasets

In [106]:
df1 = pd.read_csv('data\\athlete_events.csv')
df2 = pd.read_csv('data\\noc_regions.csv')

### Loader: merging datasets
- Check the merge: we have 271118 records, so 2 region values extra from df2. <br>
- The two extra records have no athlete information. In the next step we will delete these records

In [107]:
df = pd.merge(df1, df2, how='outer', on=["NOC"])

print(df1.shape)
print(df2.shape)
print(df.shape)
print(df.head(5))

(271116, 15)
(230, 3)
(271118, 17)
       ID           Name Sex   Age  Height  Weight   Team  NOC        Games  \
0     1.0      A Dijiang   M  24.0   180.0    80.0  China  CHN  1992 Summer
1     2.0       A Lamusi   M  23.0   170.0    60.0  China  CHN  2012 Summer
2   602.0  Abudoureheman   M  22.0   182.0    75.0  China  CHN  2000 Summer
3  1463.0      Ai Linuer   M  25.0   160.0    62.0  China  CHN  2004 Summer
4  1464.0      Ai Yanhan   F  14.0   168.0    54.0  China  CHN  2016 Summer

     Year  Season            City       Sport  \
0  1992.0  Summer       Barcelona  Basketball
1  2012.0  Summer          London        Judo
2  2000.0  Summer          Sydney      Boxing
3  2004.0  Summer          Athina   Wrestling
4  2016.0  Summer  Rio de Janeiro    Swimming

                                      Event Medal region notes
0               Basketball Men's Basketball   NaN  China   NaN
1              Judo Men's Extra-Lightweight   NaN  China   NaN
2                 Boxing Men's Middleweight   NaN  China   NaN
3  Wrestling Men's Lightweight, Greco-Roman   NaN  China   NaN
4     Swimming Women's 200 metres Freestyle   NaN  China   NaN

### Preprocesser: scanning the missing values

- Exploration: With the **.info** and the **isnull.sum**, we evaluate the missing values. <br>
- We should check up on Age, Height, Weight, Medal, Region and Notes as well, besides the 2 records that have no atlethe info.

In [108]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271118 entries, 0 to 271117
Data columns (total 17 columns):
ID        271116 non-null float64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271118 non-null object
Games     271116 non-null object
Year      271116 non-null float64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
region    270756 non-null object
notes     4745 non-null object
dtypes: float64(5), object(12)
memory usage: 37.2+ MB
None
ID             2
Name           2
Sex            2
Age         9476
Height     60173
Weight     62877
Team           2
NOC            0
Games          2
Year           2
Season         2
City           2
Sport          2
Event          2
Medal     231335
region       362
notes     266373
dtype: int64

### Preprocesser: deleting values

- The 2 records without atlethe info will be deleted
- People without medal will be removed as well

In [109]:
#Records without atlethe info will be deleted
df = df[df.ID.isnull() == False]
df.info()

#Medal options
print(df["Medal"].unique())
#Atlethes that did not win a medal at all will be removed
df = df[df.Medal.isnull() == False]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271116 entries, 0 to 271115
Data columns (total 17 columns):
ID        271116 non-null float64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null float64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
region    270756 non-null object
notes     4745 non-null object
dtypes: float64(5), object(12)
memory usage: 37.2+ MB

### Preprocesser: evaluation + replacement 

- Still needs a description

In [110]:
#evaluation the describution of the variables
print(df.describe())

# Fill age with the mean age
df.Age.fillna(df.Age.mean())

# Fill missing length and weight with the median
df.Weight.fillna(df.Weight.median())
df.Height.fillna(df.Height.median())

                  ID            Age         Height         Weight  \
count  271116.000000  261642.000000  210945.000000  208241.000000
mean    68248.954396      25.556898     175.338970      70.702393
std     39022.286345       6.393561      10.518462      14.348020
min         1.000000      10.000000     127.000000      25.000000
25%     34643.000000      21.000000     168.000000      60.000000
50%     68205.000000      24.000000     175.000000      70.000000
75%    102097.250000      28.000000     183.000000      79.000000
max    135571.000000      97.000000     226.000000     214.000000

                Year
count  271116.000000
mean     1978.378480
std        29.877632
min      1896.000000
25%      1960.000000
50%      1988.000000
75%      2002.000000
max      2016.000000

0         180.0
1         170.0
2         182.0
3         160.0
4         168.0
          ...
271111    150.0
271112    150.0
271113    175.0
271114    170.0
271115    175.0
Name: Height, Length: 271116, dtype: float64

### Transformer:
- Still needs a description

In [111]:

#Rename NOC column to Country
df = df.rename(columns={'NOC': 'Country'})
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,Country,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1.0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992.0,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2.0,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012.0,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,602.0,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000.0,Summer,Sydney,Boxing,Boxing Men's Middleweight,NaN,China,NaN
3,1463.0,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004.0,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",NaN,China,NaN
4,1464.0,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016.0,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,NaN,China,NaN

### Analyzer 5 questions: 
<br>
Questions to answer: <br>
1.In which year did the Netherlands win the most total medals and the most golden medals at one olympic event?

In [112]:
# Select only Dutch athletes
df_ned = df[df.Country == 'NED']

df_medals = df_ned.groupby(['Year','Season'])['ID'].count()
max_medals = df_medals.max()
year = df_medals[df_medals == max_medals].index[0][0]
print(f'Most medals (n={max_medals}) in the year {year}')

df_goldmedals = df_ned[df.Medal == 'Gold'].groupby(['Year','Season','Medal'])['ID'].count()
max_goldmedals = df_goldmedals.max()
year = df_goldmedals[df_goldmedals == max_goldmedals].index[0][0]
print(f'Most gold medals (n={max_goldmedals}) in the year {year}')

Most medals (n=384) in the year 1928.0
Most gold medals (n=39) in the year 2008.0

C:\Users\coo501\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

2.Who is the most successfull olympic Dutch female athlete and male athlete (successfull = most total medals or most golden medals)

In [113]:
df_medals = df_ned.Name.value_counts()
max_medals = df_medals.max()
athlete = ','.join(df_medals[df_medals == max_medals].index)
print(f'The most succesfull Dutch olympic athlete(s) up to 2016 is {athlete} with {max_medals} total medals.')

df_goldmedals = df_ned[df_ned.Medal == 'Gold'].Name.value_counts()
max_goldmedals = df_goldmedals.max()
athlete = ', '.join(df_goldmedals[df_goldmedals == max_goldmedals].index)
print(f'The most succesfull Dutch olympic athlete(s) up to 2016 is {athlete} with {max_goldmedals} gold medals.')

df_medals_male = df_ned[df_ned.Sex == 'M']
df_medals_female = df_ned[df_ned.Sex == 'F']

for df_ned_sex in [df_medals_male, df_medals_female]:
    df_medals = df_ned_sex.Name.value_counts()
    df_goldmedals = df_ned_sex[df_ned_sex.Medal == 'Gold'].Name.value_counts()
    max_medals = df_medals.max()
    max_goldmedals = df_goldmedals.max()
    athlete = ', '.join(df_medals[df_medals == max_medals].index)
    athlete_gold = ', '.join(df_goldmedals[df_goldmedals == max_goldmedals].index)

    if df_ned_sex['Sex'].max() == 'M':
        sex = 'male'
    else:
        sex = 'female'
    print(f'The most succesfull {sex} Dutch olympic athlete(s) up to 2016 is {athlete} with {max_medals} total medals.')
    print(f'The most succesfull {sex} Dutch olympic athlete(s) up to 2016 is {athlete_gold} with {max_goldmedals} gold medals.')

The most succesfull Dutch olympic athlete(s) up to 2016 is Adrianus Egbert Willem "Arie" de Jong with 27 total medals.
The most succesfull Dutch olympic athlete(s) up to 2016 is Irene Karlijn "Ireen" Wst, Francina Elsje "Fanny" Blankers-Koen, Inge de Bruijn, Charles Ferdinand Pahud de Mortanges, Leontine Martha Henrica Petronella "Leontien" Zijlaard-van Moorsel with 4 gold medals.
The most succesfull male Dutch olympic athlete(s) up to 2016 is Adrianus Egbert Willem "Arie" de Jong with 27 total medals.
The most succesfull male Dutch olympic athlete(s) up to 2016 is Charles Ferdinand Pahud de Mortanges with 4 gold medals.
The most succesfull female Dutch olympic athlete(s) up to 2016 is Theodora Elisabeth Gerarda "Anky" van Grunsven with 14 total medals.
The most succesfull female Dutch olympic athlete(s) up to 2016 is Leontine Martha Henrica Petronella "Leontien" Zijlaard-van Moorsel, Irene Karlijn "Ireen" Wst, Inge de Bruijn, Francina Elsje "Fanny" Blankers-Koen with 4 gold medals.

In [114]:
3.Did the Netherlands win more during the summer or winter olympics?

Object `olympics` not found.

In [115]:
df_medals = df_ned.groupby(['Season'])['ID'].count()
df_medals

print(f'The most medals of Dutch olympic athletes were won during the {df_medals[df_medals == df_medals.max()].index[0]} olympic games (namely: {df_medals.max()} medals in total)')

#Corrected for number of olympic games that were performed
summer_indf = len(df.groupby(['Season'])['Year'].unique()['Summer'])
winter_indf = len(df.groupby(['Season'])['Year'].unique()['Winter'])

summer_medals = df_medals['Summer']
winter_medals = df_medals['Winter']

medals_pergame = {'summer': summer_medals/summer_indf, 
                  'winter': winter_medals/winter_indf}
keymax = max(medals_pergame, key=medals_pergame.get) 
print(f'The most medals of Dutch olympic athletes corrected for number of games were won during the {keymax} olympic games (namely: {int(round(medals_pergame[keymax]))} on average per olympic game)')

The most medals of Dutch olympic athletes were won during the Summer olympic games (namely: 5164 medals in total)
The most medals of Dutch olympic athletes corrected for number of games were won during the summer olympic games (namely: 178 on average per olympic game)

In [ ]:
4.

In [ ]:
5.